name: Pytest
on:
  - push
  - pull_request

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Setup PDM
        uses: pdm-project/setup-pdm@v4

      - name: Install dependencies
        run: pdm install

      - name: Write cookie to file
        run: |
          echo '${{ secrets.NETEASE_COOKIE }}' > data/cookie.json
          chmod 600 data/cookie.json

      - name: Run pytest
        run: pdm run test
